<html ng-app="GassyApp">
  <head>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="src/js/controller.js"></script>
  </head>
  <body>
    <div ng-controller="InputController">
      <select ng-model="userCar">
        <option ng-repeat="car in cars">{{car.make}}</option>
      </select>
      <input type="number" ng-model="user_mpg">
      <select ng-model="gasType">
        <option>Midgrade</option>
        <option>Premium</option>
        <option>Regular</option>
      </select>
      <button ng-click="getPrice(userCar, user_mpg, gasType)">
        Go!
      </button>
      <div>
        {{user_mpg}}
        {{userCar}}
      </div>
    </div>
  </body>
</html>