@import url('https://fonts.googleapis.com/css?family=Raleway');

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
}

.results .progress {
  margin-bottom: 3rem;
}

div.background {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: url("./src/imgs/background.jpg");
  background-size: cover;
<<<<<<< HEAD
  height: 500px;
=======
  filter: blur(3px);
>>>>>>> e76ff5c5f35893209b03477aef91d910db0c5064
}

.box {
  background: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px 0 black;
}

<<<<<<< HEAD
.container-fluid h1 {
  font-style: oblique;
=======
.container {
  padding-top: 120px;
  margin: 0 auto;
}

.container h1 {
>>>>>>> e76ff5c5f35893209b03477aef91d910db0c5064
  padding-bottom: 5px;
  font-weight: bold;
}

.myform {
  width: 450px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 15px;
}

#calculate_btn {
  background-color: #2ecc71;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.myform .inputvalues {
  margin-bottom: 10px;
}
